<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
<head data-hook="inside_head">
<link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
  <link rel="stylesheet" href = "assets/animate.css">
  <style>



    .slick-initialized .slick-slide {
      display: block;
      filter: alpha(opacity=40);
      opacity: 0.4;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }

    .slick-initialized .slick-center {
      display: block;
      filter: alpha(opacity=100);
      opacity: 1;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }



    .wrapper {
      width: 100%;
      margin: 0 auto;
    }
    .wrapper h2 {
      color: #3498DB;
      opacity: .85;
      font-family: 'Pacifico';
      font-weight: 100;
      letter-spacing: 1px;
      font-size: 36px;
      margin: 15px 0;
    }

    .product-image{
      border:none !important;
    }

    .info{
      border:none !important;
    }

    .slick-codepen {
      position: absolute;
      top:50px;
      left:0;
      width: 100%;
      background-color: #141414;
    }
    .slick-codepen .slick-slide {
      height: 340px !important;
    }

    .slick-codepen .slick-slide img {
      margin: 0;
      padding: 0;
      display: block;
      width:100%;
      height: auto;
    }
    .slick-codepen .slick-prev {
      left: 0;
    }
    .slick-codepen .slick-next {
      right: 0;
    }
    .slick-codepen .slick-prev, .slick-codepen .slick-next {
      background-color: transparent;
      top: 10px;
      width: 20%;
      height: 100%;
      -webkit-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;
    }
    .slick-codepen .slick-prev:hover, .slick-codepen .slick-next:hover {
      background-color: rgba(0, 0, 0, 0.25);
    }

    .slick-next, .slick-prev{
      display:none !important;
    }


    .slick-codepen .slick-prev:hover:before, .slick-codepen .slick-next:hover:before {
      color: rgba(255, 255, 255, 0.65);
    }
    .slick-codepen .slick-prev:before, .slick-codepen .slick-next:before {
      font-size: 38px;
      color: transparent;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }
    .slick-codepen .slick-dots {
      width: 22%;
      left: 40%;
      bottom: -68px;
      border-bottom: 1px solid #3498DB;
      padding: 15px 0;
    }
    .slick-codepen .slick-dots li.slick-active button:before {
      color: #3498DB;
      margin-top: 1px;
      font-size: 10px;
    }

    @media screen and (max-width: 480px) {
      .slick-codepen, .slick-codepen .slick-slide {
        height: 220px;
      }

      .wrapper {
        width: 100%;
      }
    }

    .three {
      background:white;
      overflow: hidden;
      border:none !important;
    }

    .product-image{
      border:none !important;
    }

    body{
      background:white !important;
    }

    #home-link{
      display: none !important;
    }

    .product-image a img{
    }

      .info{
        color:black !important;
        font-weight: bold!important;
      }

      .gallery{
        position: relative;
        width:100%;
        height:300px;
        background:Red;
      }

      #main-nav-bar{
        border:none !important;
      }

      .price{
        color: #886800 !important;
      }


      #keywords{
        border:none !important;
        background:rgb(249,249,255);
        width:300px;
        height:30px;

      }
      input[type="submit"]{
        background: #886800 !important;
        border:none !important;
        border-radius:1em !important;
      }
      #link-to-login{
        transform:translateX(-10px) !important;
      }
      
      #taxon {
        display: none;
      }

      .header{
        background:red;
      }

    #header{
      background:black !important;
    }
    .headerImage{
      position: absolute;
      top: -60px;
      left:0;
      width: 100%;
      height:400px;
      overflow: hidden;
      z-index:-999;
      background:rgb(80,80,80);
      color:black !important;
    }

      h1{
        color:pink !important;
      }

      h6{
        z-index: 999;
        margin-top:20px !important;
      }

      #checkout-step-address > li {
        color:pink !important;
      }

      .alpha{
        background:none !important;
      }




  </style>


  <%= render partial: 'spree/shared/head' %>
</head>
<body class="<%= body_class %> animated fadeIn" id="<%= @body_id || 'default' %>" data-hook="body">


  <%= render partial: 'spree/shared/header' %>

<br><br>

  <div class="headerImage">

  </div>
<div style="margin-top:200px;" class="container  animated fadeInUp">
  <div id="wrapper" class="row" data-hook>

    <%= taxon_breadcrumbs(@taxon) %>

    <%= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>

    <div id="content" class="columns <%= !content_for?(:sidebar) ? "sixteen" : "twelve omega" %>" data-hook>
      <%= flash_messages %>
      <%= yield %>
    </div>

    <%= yield :templates %>

  </div>


</div>
<script  src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>


</body>
</html>
